@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900screendisplay=swap");

$screen-font: "Roboto", sans-serif;

$dark-button-color: #808080;
$body-color: rgb(133, 132, 132);
$calculator-color: rgb(190, 185, 185);
$button-shadow-color: rgb(117, 117, 117);
$dark-mode-color: rgb(32, 32, 32);
$white-color: white;
$black-color: black;

