$dark-button-color: #808080;
$body-color: rgb(133, 132, 132);
$calculator-color: rgb(190, 185, 185);
$button-shadow-color: rgb(117, 117, 117);
$dark-mode-color: rgb(32, 32, 32);
$white-color: white;
$black-color: black;

